* {
  margin: 0;
  padding: 0;
}

:root {
  --center-width: 12vw;
}

#wrapper {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#center {
  position: absolute;
  width: var(--center-width);
  height: var(--center-width);
  border: 3px solid blueviolet;
  border-radius: 100px;
  background-image: url("flower.jpg");
  background-size: cover;
}

#blocks {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.block {
  width: 50%;
  height: 50%;
  display: flex;
}

.block .content {
  display: none;
  margin: 2vh 1vw;
}

.block .content h1 {
  display: inline;
  padding: 0.8vh 1vw;
  border: 1px solid black;
  border-radius: 10px;
}

#block1 {
  background-color: #0fbcf9;
  flex-wrap: wrap;
  align-items: flex-start;
}
#block1.onBlock1 .forBlock1 {
  display: block;
}
#block1.onBlock2 .forBlock2 {
  display: block;
}
#block1.onBlock3 .forBlock3 {
  display: block;
}
#block1.onBlock4 .forBlock4 {
  display: block;
}

#block2 {
  background-color: #00d8d6;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
}
#block2.onBlock1 .forBlock1 {
  display: block;
}
#block2.onBlock2 .forBlock2 {
  display: block;
}
#block2.onBlock3 .forBlock3 {
  display: block;
}
#block2.onBlock4 .forBlock4 {
  display: block;
}

#block3 {
  background-color: #34e7e4;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
#block3.onBlock1 .forBlock1 {
  display: block;
}
#block3.onBlock2 .forBlock2 {
  display: block;
}
#block3.onBlock3 .forBlock3 {
  display: block;
}
#block3.onBlock4 .forBlock4 {
  display: block;
}

#block4 {
  background-color: #4bcffa;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
#block4.onBlock1 .forBlock1 {
  display: block;
}
#block4.onBlock2 .forBlock2 {
  display: block;
}
#block4.onBlock3 .forBlock3 {
  display: block;
}
#block4.onBlock4 .forBlock4 {
  display: block;
}

#blocks::-webkit-scrollbar {
  display: none;
}
